body {
  font-family: sans-serif;
  background-color: #f2b400;
}

a {
  color: white;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

img {
  max-width: 100px;
  max-height: 150px;
  margin: 20px;
}

.movie {
  overflow-wrap: break-word;
  max-width: 100px;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  color: white;
}

.allmovies {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #f2b400;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 50px;
  background-color: #f2b400;
}

.routes {
  text-align: center;
  overflow-wrap: break-word;
  background-color: #0e0d0e;
  padding: 3%;
  margin-top: 5%;
  margin-bottom: 5%;
  color: white;
}
.allmovies,
.cartMovie {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.filter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.cartMovie {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-left: 400px;
  padding-right: 400px;
}

button {
  box-shadow: inset 0px 1px 0px 0px #fff6af;
  background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
  background-color: #ffec64;
  border-radius: 6px;
  border: 1px solid #ffaa22;
  display: inline-block;
  cursor: pointer;
  color: #333333;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  /* padding:6px 24px; */
  text-shadow: 0px 1px 0px #ffee66;
  height: 35px;
  margin: 10px;
}
